body {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://wallpapers.com/images/hd/majestic-starlit-sky-ct042g29ci9cfxqj.webp') !important;
    background-size:cover;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-box {
  height:80%;
  width:80%;
  max-width:800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, rgba(54, 66, 82, 0.4) 0%, rgba(74, 74, 74, 0.4) 50%, rgba(54, 66, 82, 0.4) 100%);
  border:3px solid black;
  border-radius: 20px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 2vw;
  padding-left: 2vw;
  margin:20px;
  box-shadow: 0 0 2em rgba(115, 123, 139, 0.4);
}
input, button{
  background-color:#777777;
  border: 1px solid;
  border-radius: 10px;
}
input{
  box-shadow: 0 0 0.8em rgba(255, 255, 255, 0.3);
}
button:hover{
  box-shadow: 0 0 1.2em rgba(255, 255, 255, 0.6);
}
h1, h2, h3, h4, h5, label, button, div, input {
  font-family: 'Trebuchet MS', sans-serif;
  color:white;
}
html{
  font-size: 2em;
}
button, input{
  font-size:0.6em;
  background-color: rgba(0, 0, 0, 0);
  border:2px solid white;
  border-radius: 10px;
}
