/* main */
html{
  font-size: 2em;
  max-height:100vh;
  max-width:100vw;
}
html, body {
  margin: 0px;
  padding: 0px;
}
body {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('https://cdnb.artstation.com/p/assets/images/images/085/149/519/4k/adelia-koldarova-crl-101-0010-060-bg-paint.jpg?1740074459') !important;
    background-size:cover;
    background-position: center center !important;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* content box */
.main-box {
  height:auto;
  min-height: 60%;
  width:80%;
  max-width:800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align:center;
  background: linear-gradient(135deg, rgba(54, 66, 82, 0.4) 0%, rgba(74, 74, 74, 0.4) 50%, rgba(54, 66, 82, 0.4) 100%);
  border:3px solid black;
  border-radius: 20px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-right: 2vw;
  padding-left: 2vw;
  margin-left:20px;
  margin-right:20px;
  margin-bottom:30px;
  margin-top:30px;
  box-shadow: 0 0 2em rgba(115, 123, 139, 0.4);
}
/* Header */
header {
      position: sticky;
      top: 0;
      width: 100%;
      height: 150px;
      padding-top:10px;
      padding-bottom:10px;
      background: linear-gradient(135deg, rgba(54, 66, 82, 1) 0%, rgba(74, 74, 74, 0.8) 50%, rgba(54, 66, 82, 0.9) 100%);
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1000;
      box-shadow: 0 2px 50px rgba(0,0,0,0.9);
}
.header-logo{
  height:120px;
  width:auto;
}
/*Page Text */
h1, h2, h3, h4, h5, label, button, div, input {
  font-family: 'Trebuchet MS', sans-serif;
  color:white;
}
/* Remove Input Arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* Button and Input */
button, input{
  font-size:0.6em;
  background-color: rgba(0, 0, 0, 0);
  border:2px solid white;
  border-radius: 10px;
  padding:4px;
  margin:5px;
}
input{
  box-shadow: 0 0 0.8em rgba(255, 255, 255, 0.3);
}
button:hover{
  box-shadow: 0 0 1.2em rgba(255, 255, 255, 0.6);
}
