  /* main */
  html{
    font-size: 2em;
    max-height:100%;
    max-width:100%;
    overflow-x: hidden;
  }
  html, body {
    margin: 0px;
    padding: 0px;
  }
 body {
  height: calc(100vh - 150px);
  background-image:
    linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('https://cdnb.artstation.com/p/assets/images/images/085/149/519/4k/adelia-koldarova-crl-101-0010-060-bg-paint.jpg?1740074459');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: center center, center center;
  background-attachment: fixed, fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
  /* content box */
  .main-box {
    min-height: 50vh;
    width:80%;
    max-width:800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    background: linear-gradient(135deg, rgba(54, 66, 82, 0.4) 0%, rgba(74, 74, 74, 0.4) 50%, rgba(54, 66, 82, 0.4) 100%);
    border:3px solid black;
    border-radius: 20px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-right: 2vw;
    padding-left: 2vw;
    margin-left:20px;
    margin-right:20px;
    margin-bottom:80px;
    margin-top:250px;
    box-shadow: 0 0 2em rgba(115, 123, 139, 0.4);
  }
  /* Header */
 header {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 0;
    background: linear-gradient(135deg, rgba(54, 66, 82, 1) 0%, rgba(74, 74, 74, 0.8) 50%, rgba(54, 66, 82, 0.9) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 2px 50px rgba(0,0,0,0.9);
}
header img {
    max-width: 100%;
    max-height:120px;
    height: auto;
    display: block;
}
  /*Page Text */
  h1, h2, h3, h4, h5, label, button, div, input {
    font-family: 'Trebuchet MS', sans-serif;
    color:white;
  }
  /* Remove Input Arrows */
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  /* Button and Input */
  button, input{
    font-size:0.6em;
    background-color: rgba(0, 0, 0, 0);
    border:2px solid white;
    border-radius: 10px;
    padding:4px;
    margin:5px;
  }
  input{
    box-shadow: 0 0 0.8em rgba(255, 255, 255, 0.3);
  }
  button:hover{
    box-shadow: 0 0 1.2em rgba(255, 255, 255, 0.6);
    cursor: pointer;
  }
.num-input-wrapper {
      position: relative;
      display: inline-block;
      width: 120px;
  }
  .num-input-wrapper input {
      width: 100%;
      padding-left: 10px;
      height: 35px;
  }
  .num-btns {
      position: absolute;
      right: -20px;
      top: 0;
      display: flex;
      gap: auto;
      height: 100%;
      align-items: center;
  }
  .num-btns button {
      width: 35px;
      height: 35px;
      font-size: 16px;
      cursor: pointer;
      background: rgba(0, 0, 0, 0);
      border: 2px solid white;
      border-radius: 10px;
  }
/* Responsive CSS */
@media only screen and (max-width: 600px) {
  html{
    font-size: 1.2em;
  }
}
